*.desktop
*.gmo
*.o
*.service
*.tar.xz
.deps/
.intltool-merge-cache
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
config
config.*
configure
libtool
m4
src/tracker-miner-chatlog
stamp-h1
stamp-it
